.cards__container {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    height: 100%;
    flex-wrap: wrap;
}

.card {
    width: 388px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    display: flex;
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
}

.card__icon-container {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: rgba(230, 237, 244, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__info-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-evenly;
}

.card__value {
    font-size: clamp(18px, 4vw, 28px); 
    font-weight: 600;
    color: rgba(26, 26, 26, 1);
}

.card__title {
    font-size: clamp(8px, 4vw, 14px); 
    font-weight: 500;
    color: rgba(26, 26, 26, 1);
}

.card__performance-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 3px;
}

.card__performance-date {
    display: inline-flex;
    font-size: clamp(7px, 4vw, 10px); 
    font-weight: 400;
    color: rgba(150, 150, 150, 1);
}

@media (max-width: 1440px) {
    .cards__container {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: auto;
        margin: 8px;
    }

    .card__info-container {
        display: flex;
        padding-left: 10px;
        justify-content: space-between;
        margin-right: 20px;
    }


}
@media (max-width: 480px) {
    .card__info-container {
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        flex-wrap: wrap;
    }
    .card__value {
        font-size: 32px; 
        font-weight: 600;
        color: rgba(26, 26, 26, 1);
        margin-right: 20px;
    }
    
    .card__title {
        font-size: 22px;
        font-weight: 500;
        color: rgba(26, 26, 26, 1);
        align-self: center;
        margin-right: auto;
    }
    
    .card__performance-container {
        display: flex;
        margin-right: auto;
        /* margin-left: 20px; */
    }
  }