.statcards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 45px; 
    height: 100%;
    width: 100%;
}

.statcard {
    background: linear-gradient(47.12deg, #004992 18.44%, #0076B8 61.78%);
    border-radius: 8px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.statcard__info-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.statcard__title {
    font-size: clamp(8px, 4vw, 16px); 
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.statcard__value {
    font-size: clamp(20px, 4vw, 33px); 
    font-weight: 700;
    color: rgba(255, 255, 255, 1)
}

.statcard__icon {
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .statcards__container {
        grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
        gap: 25px; 
    }
    
    .statcard {
        padding: 10px;
        flex-direction: row-reverse;
    }
    
    .statcard__title {
        font-size: 12px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
    }
    
    .statcard__value {
        font-size: 16px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1)
    }
    
    .statcard__icon {
        align-items: center;
        justify-content: center;
    }
}